<h1>
  Add a new gum
</h1>


<hr>

<form action="/create_gum" method="post">

  <div class="form-group">
    <label for="brand">
      Brand
    </label>

    <input type="text" id="brand" name="brand" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create gum
  </button>
</form>

<hr>

<a href="/gums">
  Go back
</a>
